{{>header}}
{{>menu}}
<section id="viewProfile">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{user}}</h2>
            {{#if isFollowed}}
                <a id="btnFollow" class="chirp-author" href="#/unfollow/{{user}}">Unfollow</a>
            {{else}}
                <a id="btnFollow" class="chirp-author" href="#/follow/{{user}}">Follow</a>
            {{/if}}
            <div id="userProfileStats" class="user-details">
                <span>{{chimpsCreated}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}}
                followers</span>
            </div>
        </div>
        <div id="profileChirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
                {{>mainPageChirp}}
            {{/each}}
        </div>
    </div>
</section>
{{>footer}}