{{>header}}
{{>menu}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form action="#/submitChirp" method="post" id="formSubmitChirp" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>{{userChirps}} chirps</span> | <span>{{userFollowing}} following</span> | <span>{{userFollowers}} followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
                {{>mainPageChirp}}
                {{else}}
                <p>No Chirps in Database</p>
                {{/each}}
        </div>
    </div>
</section>
{{>footer}}