
{{>header}}
<section id="viewAdDetails" style="">
    <div>
        <img src="{{imageUrl}}">
        <br>
        <label>Title:</label><h1>{{title}}</h1>
        <label>Description:</label><p>{{description}}</p>
        <label>Publisher:</label><div>{{publisher}}</div>
        <label>Date:</label><div>{{date}}</div>
        <label>Views:</label><div>{{views}}</div>
    </div>
</section>

{{>footer}}